body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: radial-gradient(green, black);
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-image: url(blackjackboard2.png); */
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    color: white;
} 
/* -------CARDS LIBRARY ------- */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 4px dotted grey;
    padding: 10px;
  
}
.dealer-cards {
    /* background-color: grey;  */
    text-align: center;
    
}
.player-cards {
    /* background-color: blue; */
}
button {
    display: inline;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
  }
  
  button:hover {
    background-color: grey;
    color: white;
  }
/* ---------------------------- */
h1 {
    color: black;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
}

.dealer-cards img {
    height: 160px;
    width: 120px;
    margin: 1px;
    text-align: center;
}

.player-cards img {
    height: 160px;
    width: 120px;
    margin: 1px;
}
.banklog {
    
    font-size: 50px;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 75px;
    margin-bottom: 20px;
    border: 10px solid black;
    background-color: lightgray;
    text-align: center;
    color: red;
}
.betlog {
    
    font-size: 50px;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 75px;
    margin-bottom: 20px;
    border: 10px solid black;
    background-color: lightgray;
    text-align: center;
    color: red;
}
/*------------BUTTONS -------------*/
 #bet {
    width: 100px;
    height: 50px;
    font-size: 20px;
 }
 #hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}
#double {
    width: 100px;
    height: 50px;
    font-size: 20px;
}
#divide {
    width: 100px;
    height: 50px;
    font-size: 20px;
}


.white{
    border-radius: 160%;
    height: 10vmin;
    width: 10vmin;
    margin-bottom: 100px; 
    /* background-color: white; */
    background-image: url(/monedas/gambling-chip-isolated-black-9364912.jpg);
    background-size: cover;
    
}
.red{
    border-radius: 50%;
    border-color: 15vmin black;
    background-image: url(/monedas/red.jpeg);
    background-size: cover;
    height: 10vmin;
    width: 10vmin;   
    margin-bottom: 80px; 
    background-color: red;
    border-style: dashed;
    
}
.green{
    border-radius: 160%;
    height: 10vmin;
    width: 10vmin;   
    background-image: url(/monedas/green.webp);
    background-size: cover;
    margin-bottom: 60px; 
    background-color: green;
}
.black{
    border-radius: 160%;
    height: 10vmin;
    width: 10vmin;  
    background-image: url(/monedas/black.png);
    background-size: cover;
    margin-bottom: 40px; 
    background-color: black;
}
.purple{
    border-radius: 160%;
    height: 10vmin;
    width: 10vmin;  
    background-image: url(/monedas/green.jpeg);
    background-size: cover;
    margin-bottom: 20px; 
    background-color: purple;
}
.orange{
    border-radius: 160%;
    height: 10vmin;
    width: 10vmin;   
    margin-bottom: 0px; 
    background-color: orange;
    background-image: url(/monedas/orange.jpeg);
    background-size: cover;
}
.monedas{
    text-align: center;
    padding-bottom: 100px;
    /* background-color: green; */
}
#buttons 
#hit {
    border-radius: 50%;
    height: 50
}
#stay {
    border-radius: 50%;
}
#divide {
    border-radius: 50%;

}
#double {
    border-radius: 50%;

}
#bet {
    border-radius: 50px;
}
